root = true

[*]
SUPABASE_URL=https://mtkdlldkdrtbfncilmhy.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im10a2RsbGRrZHJ0YmZuY2lsbWh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDA4OTc3ODgsImV4cCI6MjAxNjQ3Mzc4OH0.7Bqj9qn2XwWZZWEF3Rr6UHR-UYdZW8tEqBaRzJVNbcg
