$white: #FFFFFF;
$primary: #1BC5BD;
$secondary: #F3F6F9;
$success: #29D49F;
$warning: #FFA824;
$danger: #F64E60;
$gray1: #424242;
$gray2: #818181;
$gray3: #B2B2B2;
$gray4: #E1E1E1;
$gray5: #F6F6F6;
$website-primary: #0021AE;


$primary-hover: #09A69E;
$success-hover: #26A75A;
$warning-hover: #F07D13;
$danger-hover: #E7233A;
$secondary-hover: #F3F6F9;

$primary-light:#E5FBFA;
$secondary-light:#F3F6F9;
$success-light:#E8FFF3;
$warning-light:#FFF9E0;
$danger-light:#FFEBF1;
